@import url(./../../../styles/global.css);

/* Form */
/* ------------------------------------------------------------- */

/* Date input */
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-year-field {
    color: var(--black);
}

::-webkit-datetime-edit-month-field:focus, ::-webkit-datetime-edit-day-field:focus, ::-webkit-datetime-edit-year-field:focus {
    background-color: transparent;
}

::-webkit-calendar-picker-indicator {
    opacity: 0.6;
}

/* Sign-up Steps */
.sign-up-step {
    font-size: 24px !important;
}

.sign-up-step > p {
    margin-bottom: 20px;
    
    font-size: 24px !important;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.sign-up-step > .steps-bar {
    margin-bottom: 40px;
    
    justify-content: space-between;
    align-items: center;
}

.steps-bar > .step-progress {
    height: 2px;
    border-radius: 50px;
}

.sign-up-step, .sign-up-step span {
    justify-content: center;
    align-items: center;
}

/* Step One */
.steps-bar {
    justify-content: none;
}

.step-progress {
    background-color: var(--detailsGray) !important;
    transition: ease all 0.5s;
}

.steps-bar > .step-progress:first-of-type {
    width: 5%;
    background-color: var(--primaryGreen) !important;
}

.steps-bar > .step-progress:last-of-type {
    width: 95%;
}

.sign-up-step span {
    width: 32px;
    height: 32px;
    background-color: var(--detailsGray);
    border-radius: 50px;

    position: absolute;

    font-size: 18px;
    color: var(--white);

    transition-delay: 0.8s;
    transition: ease all 0.3s;

    user-select: none;
}

.sign-up-step span:nth-of-type(2) {
    margin-left: 163.75px;
}

.sign-up-step span:last-child {
    margin-left: 327.5px;
}

.sign-up-step span.achieved-step {
    border: solid 2px var(--primaryGreen);
    background-color: var(--white) !important;

    color: var(--primaryGreen);

    cursor: pointer;
}

.sign-up-step span.current-step {
    background-color: var(--primaryGreen) !important;
    color: var(--white);
}

.sign-up-step span.achieved-step:hover {
    border-color: var(--detailsGreen) !important;
    color: var(--detailsGreen);
}

.sign-up-step span.current-step:hover {
    background-color: var(--detailsGreen) !important;
    border-color: var(--detailsGreen) !important;
    color: var(--white);
}

/* Step Three */
.sign-up-step-three .col {
    justify-content: center;
    align-items: center;
}

.sign-up-step-three .col #firstMovement,
.sign-up-step-three .col select {
    width: 50%;
    height: 60px;
    margin: 0px;

    border: none;
    border-radius: 0px;

    font-size: 36px;
    text-align: center;
}

.sign-up-step-three .col select option {
    font-size: 24px;
}

.sign-up-step-three .first-movement-info {
    font-size: 16px !important;
    color: var(--detailsGray);
}