@import url(./../../../styles/global.css);

.authentication-form .digit {
    width: 51.667px !important;
    height: 51.667px !important;
    padding: 0px !important;

    text-align: center;
}

.authentication-form .digits-box {
    justify-content: space-between;
    align-items: center;
}