@import url(./../../styles/global.css);

.authentication {
    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(to bottom right, var(--primaryGreen), var(--secundaryGreen), var(--detailsGreen));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authentication > .authentication-box, .authentication > .download-box {
    padding: 60px;
    background-color: var(--white);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

    text-align: center;
}

.authentication-box {
    width: 480px;
}

.authentication-box p {
    font-size: 18px;
    text-align: center;
}

.authentication-box p:last-child {
    margin-bottom: 0px;
}

.authentication-box > .logo {
    width: 126px;
    margin: 0px auto 60px;
}

.authentication-box > .authentication-form input {
    width: 360px;
    height: 40px;
    margin: 10px 0px;
    padding: 20px;
    border: solid 1px var(--secundaryGray);
    border-radius: 50px;

    font-size: 20px;
}

.authentication-box button {
    width: 360px;
    height: 40px;
    margin: 20px 0px;
    padding: 0px 32px;
    background: var(--primaryGreen);
    border: solid 2px var(--primaryGreen);
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    color: var(--white);

    transition: ease all 0.3s;
}

.authentication-form a {
    font-size: 18px;
    color: var(--detailsGreen);
}

.authentication-form a:hover {
    color: var(--secundaryGreen);
}

.authentication-form .row, .authentication-form .col-sm-12 {
    height: 100% !important;
}

.authentication-form hr {
    height: 1px;
    margin: 20px 0px;
    background: var(--detailsGray);
    border: none;
}

.authentication-form .password svg {
    margin: -40px 140px;
    position: absolute;

    font-size: 20px;
    color: var(--detailsGray);
    
    cursor: pointer;
}

.authentication-form .password svg:hover {
    color: rgba(129, 129, 129, 0.6);
}

.authentication-box .btn-facebook {
    margin-bottom: 10px;
    padding: 0px 48px;
    background: #476EC1;
    border: solid 2px #476EC1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authentication-box .btn-facebook:hover {
    color: #476EC1;
}

.authentication-box .btn-google {
    margin-top: 10px;
    padding-left: 48px;
    padding-right: 72px;
    background: var(--red);
    border: solid 2px var(--red);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authentication-box .btn-google:hover {
    color: var(--red);
}

.authentication-box button:hover {
    background: transparent;
    color: var(--primaryGreen);
}

.authentication-box button svg {
    margin-right: 20px;
}

.download-box {
    width: 480px;
    padding: 20px 60px !important;
    margin-top: 20px;
}

.download-box > p {
    text-align: center;
    font-size: 20px;
}

.download-box > .download-buttons img {
    width: 175px;
}

.download-box > .download-buttons a:first-child {
    margin-right: 10px;
}

.none {
    display: none;
}