@import url(./../../../styles/global.css);
@import url(./../../../styles/react-calendar.css);

/* Expenses */
/* ------------------------------------------------------------- */
.dashboard .expenses {
    margin: 140px 60px 0px 340px;
    margin-top: 140px;
}

.expenses h1 {
    letter-spacing: var(--maxSpacing);
}

.expenses > .expenses-info {
    width: 100%;
    margin: 60px 0px 60px;

    justify-content: center;
    align-items: center;
}

.expenses .expenses-control-review {
    width: 28.19166vw;
    margin-right: 60px;
    border: solid 1px var(--secundaryGray);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    justify-content: space-between;
    align-items: center;
}

.expenses-control-review > .revenues-review, .expenses-control-review > .expenses-review {
    width: 50%;
    padding: 20px;
}

.expenses-control-review > .revenues-review {
    border-right: solid 2px var(--secundaryGray);
}

.expenses-control-review p {
    text-align: center;
}

.expenses-control-review .expenses-control-review-label {
    margin-bottom: 5px;

    font-size: 20px;
    color: var(--detailsGray);
}

.expenses-control-review .expenses-control-review-value {
    margin: 0px;

    font-size: 36px;
    font-weight: 300;
    letter-spacing: var(--maxSpacing);
    color: var(--primaryGreen);
}

.expenses > h2 {
    margin-bottom: 40px;

    font-size: 36px;
    font-weight: 300;
    letter-spacing: var(--maxSpacing);
}

.expenses .expenses-list {
    justify-content: space-between;
    align-items: flex-start;
}

.expenses-list .expenses-control-list-preview {
    width: 50%;
    margin: 0px;
    padding: 20px 0px;
    border: solid 1px var(--secundaryGray);
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

.expenses-list .revenues-list-preview {
    margin-right: 120px;
}

.expenses-control-list-preview h3 {
    width: 100%;
    margin: 0px;
    padding: 0px 40px 20px;

    font-size: 24px;
    font-weight: 300;
    letter-spacing: var(--maxSpacing);

    border-bottom: solid 1px var(--secundaryGray);
}

.expenses-control-list-preview > .full-list-button {
    width: 200px;
    margin-top: 20px;
    margin-left: 40px;
    padding: 5px 24px;
    border: solid 2px var(--detailsGreen);
    border-radius: 50px;
    background-color: var(--detailsGreen);

    display: block;

    font-size: 18px;
    text-align: center;
    color: var(--white);

    transition: ease all 0.3s;
}

.expenses-control-list-preview > .full-list-button:hover {
    background-color: transparent;
    color: var(--detailsGreen);
}

.expenses-control-list-preview > .expenses-control-list-item {
    padding: 10px 40px;
    border-bottom: solid 1px var(--secundaryGray);

    justify-content: space-between;
    align-items: center;

    transition: ease all 0.3s;
}

.list-item-text > p {
    margin: 0px;
}

.list-item-text > .expenses-control-preview-title {
    margin-bottom: 5px;

    font-size: 20px;
    font-weight: 500;
}

.list-item-text > .expenses-control-preview-value {
    font-size: 18px;
    color: var(--detailsGray);
}

.expenses-control-list-item > svg {
    font-size: 24px;
}

.expenses-control-list-item:hover {
    background-color: var(--primaryGray);
    color: var(--black);
    cursor: pointer;
}

/* DatePicker */
.expenses .period-selector {
    width: fit-content;
    height: 129px;
    margin: 0px;
    padding: 20px 40px;
    background-color: var(--white);
    border: solid 2px var(--white);
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    transition: ease all 0.3s;
}

.expenses .period-selector:hover {
    border-color: var(--secundaryGray);
}

.expenses .period-selector:hover .period-selector-button {
    background-color: transparent;
    color: var(--primaryGreen);
}

.period-selector > .period-selector-button {
    width: 64px;
    height: 64px;
    margin-right: 40px;
    background-color: var(--primaryGreen);
    border: solid 2px var(--primaryGreen);
    border-radius: 50%;

    font-size: 24px;
    color: var(--white);

    transition: ease all 0.3s;
}

.period-selector > svg:last-of-type {
    margin: 0px 40px;
}

.period-selector .period-selector-date:first-of-type{
    padding-left: 40px;
    border-left: solid 1px var(--secundaryGray);
}

.period-selector > .period-selector-date {
    font-size: 20px;
    letter-spacing: var(--minSpacing);

    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.period-selector > .period-selector-date > p {
    margin-bottom: 0px;
}

.period-selector > .period-selector-date > .period-selector-date-label {
    margin-bottom: 5px;

    font-size: 16px;
    text-align: center;
    color: var(--detailsGray);
}

/*Modal*/
.period-selector-modal {
    width: 60vw;
}

.period-selector-modal .modal-body {
    justify-content: center !important;
    align-items: center !important;
}

.period-selector-modal > .calendar-box {
    height: 100%;

    justify-content: center;
    align-items: center;
}

.period-selector-modal .react-calendar:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.period-selector-modal .react-calendar:last-child {
    border-left: none !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}