@import url(./../../styles/global.css);

.btn-action {
    height: 3.33vw;
    background-color: var(--primaryGreen);
    border: solid 2px var(--primaryGreen);
    border-radius: 50px;

    font-size: 1.25vw;
    color: var(--white);

    transition: var(--transition-hover);
    cursor: pointer;
}

.btn-action:disabled {
    background-color: var(--detailsGray);
}

.btn-action:disabled:hover {
    background-color: initial;
}

.transparent {
    background-color: transparent;

    color: var(--primaryGreen);
}

.normal:hover {
    background-color: var(--detailsGreen);
    border-color: var(--detailsGreen);
}

.transparent:hover {
    border-color: var(--detailsGreen);

    color: var(--detailsGreen);
}