/* Tablet */
@media only screen and (max-width: 1299px) {
    .explore-text > p,
    .list > ul > li,
    .subscriptions > .plans p,
    .subscriptions > p {
        font-size: 20px !important;
    }

    .explore-text > ul > li {
        font-size: 20px !important;
    }

    .yearly > .list > p {
        font-size: 32px !important;
    }

    .subscriptions > .plans .promo {
        width: 100%;
        padding: 5px 10px;

        font-size: 16px !important;
    }

    .subscriptions > .plans p {
        font-size: 18px;
    }

    .plans > .yearly > .price {
        font-size: 32px !important;
    }

    .plans > .yearly > .price > span {
        font-size: 48px !important;
    }

    .monthly > .button-box, .quarterly > .button-box {
        margin: -1.04167vw -7.838vw;
    }

    .about-us-text > p {
        font-size: 20px;
    }

    #landpage button {
        height: 48px !important;
        font-size: 20px !important;
        padding: 8px 12px !important;
    }
}

/* Mobile */
@media only screen and (max-width: 960px) {
    .hero, .explore-simulation, .explore-control, .subscriptions, .about-us {
        height: 100%;
        margin-top: 4.17vw;

        flex-direction: column;
    }

    .hero-text > h1 {
        width: 90%;
        font-size: 36px !important;
    }

    .explore-text > h2, .subscriptions > h2, .about-us-text > h2 {
        font-size: 32px !important;
    }

    .hero-text, .explore-text, .about-us-text {
        width: 100% !important;
    }

    .hero-image, .explore-image, .about-us-image {
        width: 100%;
        margin: 4.17vw 0px 0px !important;
    }

    .placeholder-image {
        width: 100% !important;
        height: 37.539vw;
    }

    .hero-text p {
        font-size: 20px;
    }

    .hero-text > .buttons-cta > button {
        width: 120px;
        font-size: 18px;
    }

    .explore-text p {
        font-size: 18px !important;
    }

    .explore-text ul > li {
        font-size: 18px !important;
    }

    .fa-li {
        width: 2.085vw;
    }

    .subscriptions {
        padding: 6.2565vw;
    }

    .subscriptions > .plans {
        flex-direction: column;
    }

    .subscriptions > p {
        width: 100%;
    }

    .subscriptions > p, .about-us-text > p {
        font-size: 18px !important;
    }

    .plans > .monthly, .plans > .quarterly {
        width: 40%;
        border-radius: 0.52vw;
    }

    .plans > .monthly, .plans > .yearly {
        margin-bottom: 8.342vw;
    }

    .plans > .quarterly {
        margin-bottom: 6.2565vw;
    }

    .plans > .yearly {
        width: 48%;
    }

    .subscriptions > .plans .promo {
        width: 64%;
        font-size: 14px !important;
    }

    .subscriptions > .plans > .yearly > .promo {
        width: 96%;
    }

    .hero-text > .buttons-cta > button, .about-us-text > .buttons-cta > button {
        width: 33.368vw;
    }

    .subscriptions .button-box {
        width: 100%;
        left: 0;
        margin: -0.52vw 0px;
    }

    .subscriptions button, .subscriptions button {
        width: 25.02vw;
        padding: 1.4598 3.368vw;
    }
}

@media only screen and (max-width: 720px) {
    .hero {
        margin-top: 20px;
    }
    
    .explore-control, .explore-simulation, .about-us {
        margin-top: 60px !important;
    }

    .hero-text > h1 {
        font-size: 36px !important;
    }

    .explore-text > h2, .subscriptions > h2, .about-us-text > h2 {
        font-size: 36px !important;
    }

    .hero-text > h1, .explore-text > h2, .subscriptions > h2, .about-us-text > h2 {
        margin: 0px 0px 20px !important;
    }

    .hero-text > p {
        font-size: 18px;
    }

    .hero-text > .buttons-cta > button, .about-us-text > .buttons-cta > button {
        width: 100%;
        margin: 0px;
        font-size: 16px !important;
    }

    .hero-text > .buttons-cta > button:first-child, .about-us-text > .buttons-cta > button:first-child {
        margin: 20px 0px 10px;
    }

    .hero-text > .buttons-cta > button:last-child, .about-us-text > .buttons-cta > button:last-child {
        margin-bottom: 20px
    }

    .explore-text p {
        margin-bottom: 20px;
    }

    .plans > .monthly, .plans > .quarterly {
        width: 100%;
    }

    .plans > .monthly {
        margin-bottom: 80px !important;
    }

    .plans > .yearly {
        margin-bottom: 40px !important;
    }

    .plans > .quarterly {
        margin-bottom: 60px !important;
    }

    .plans > .yearly {
        width: 100%;
    }

    .subscriptions > p {
        font-size: 16px !important;
    }

    .subscriptions > .plans .price {
        margin-bottom: 20px;
    }

    .subscriptions > .plans > .yearly .list {
        margin-bottom: 32px !important;
    }

    .subscriptions > .plans .price span {
        font-size: 36px !important;
    }
    .subscriptions > .plans > .yearly .price {
        font-size: 24px !important;
    }

    .monthly > .button-box, .quarterly > .button-box {
        margin: -0.834vw 0px;
    }

    .subscriptions > .plans button {
        width: 60%;
        font-size: 16px !important;
    }

    .subscriptions > .plans .promo {
        width: 80%;
        font-size: 12px !important;
    }

    .plans > .monthly {
        margin-top: 20px;
    }

    .plans > .monthly, .plans > .quarterly, .plans > .yearly {
        padding: 20px !important;
    }

    .subscriptions > .plans > .yearly > .promo {
        width: 96%;
    }
}