@import url(./../../styles/global.css);
@import url(./../../components/Button/styles.css);

/* Scroll configurations */
/* ------------------------------------------------------------- */
html {
    scroll-behavior: smooth;
}

.explore, .about-us {
    scroll-margin-top: 9.375vw;
}

.hero, .subscriptions {
    scroll-margin-top: 6.25vw;
}

/* Sections */
/* ------------------------------------------------------------- */
.hero, .explore-control, .explore-simulation, .about-us {
    height: 37.5vw;
    margin: 6.25vw 3.33vw 0px;

    justify-content: space-between;
    align-items: center;
}

.hero > .hero-image, .explore-image, .about-us > .about-us-image {
    height: 100%;
}

.placeholder-image {
    height: 100%;
    background-color: var(--primaryGreen);
}

/* Hero */
.hero {
    margin-top: 3.125vw;
}

.hero > .hero-text {
    width: 50vw;
}

.hero-text > h1 {
    font-size: 4.167vw;
    font-weight: 500;
    letter-spacing: var(--maxSpacing);
}

.hero-text > p {
    font-size: 1.67vw;
}

.hero-text > h1, .hero-text > p, .about-us-text > h2, .about-us-text > p {
    margin-bottom: 2.083vw;
}

.hero-text > .buttons-cta > button, .about-us-text > .buttons-cta > button {
    width: 22.55vw;
    margin-right: 2.083vw;
}

.hero > .hero-image > .placeholder-image {
    width: 33.34vw
}

/* Explore */
.explore .explore-text > h2 {
    font-size: 3.34vw;
    font-weight: 200;
    letter-spacing: var(--minSpacing);
}

.explore-text > h2, .explore-text > p {
    margin-bottom: 1.04167vw;
}

.explore-text > p, .explore-text > ul > li {
    font-size: 1.25vw;
}

.explore-text > ul > li {
    margin-bottom: 0.52vw;
}

.explore-control {
    flex-direction: row-reverse;
}

.explore-control > .explore-image {
    margin-right: 3.125vw;
}

.explore-simulation > .explore-image {
    margin-left: 3.125vw;
}

.explore-image > .placeholder-image {
    width: 59.79vw;
}

.explore .fa-li svg {
    color: var(--primaryGreen);
}

/* Subscriptions */
.subscriptions {
    width: 100%;
    margin-top: 6.25vw;
    padding: 3.125vw 3.34vw;
    background-color: var(--primaryGray);
}

.subscriptions > h2 {
    font-size: 4.167vw;
    font-weight: 200;
    letter-spacing: var(--minSpacing);
}

.subscriptions > p {
    width: 41.67vw;
    margin: 3.125vw auto;

    font-size: 1.25vw;
}

.subscriptions > h2, .subscriptions > p {
    text-align: center;
}

.subscriptions > .plans {
    width: 100%;

    align-items: center;
    justify-content: center;
}

.plans > div {
    border-radius: 0.52vw;
}

.plans p {
    text-align: center;
}

.plans > .monthly, .plans > .quarterly {
    padding: 1.04167vw 4.167vw;
    padding-bottom: -2.6vw;
    background-color: var(--white);
    box-shadow: 1.04167vw 1.04167vw 2.083vw rgba(0, 0, 0, 0.2);

    text-align: center;
}

.plans > .monthly {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.plans > .quarterly {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.monthly > .button-box, .quarterly > .button-box {
    position: absolute;
    margin: -0.52vw -7.838vw;
}

.plans p {
    margin-bottom: 1.04167vw;
    font-size: 1.25vw;
    letter-spacing: var(--minSpacing);
}

.plans .price {
    font-size: 2.5vw;
    margin-bottom: 2.083vw;
}

.price > span {
    font-size: 3.34vw;
}

.plans button {
    width: 15.625vw;
    box-shadow: 0px 1.04167vw 2.083vw rgba(0, 0, 0, 0.2);
}

.plans button:hover, .yearly > button {
    background-color: var(--white);
    border: solid 2px var(--white);
    color: var(--primaryGreen);
}

.yearly > button:hover {
    background-color: transparent;
    color: var(--white);
}

.plans .promo {
    margin: 0px auto 2.083vw;
    padding: 0.26vw;
    background-color: var(--detailsGray);
    border-radius: 3px;

    font-size: 0.9375vw;
    letter-spacing: var(--maxSpacing);
    color: var(--white);
}

.monthly > .promo, .quarterly > .promo {
    width: 10.4167vw;
    font-size: 0.9375vw;
}

.plans > .yearly {
    padding: 1.04167vw 1.67vw;
    padding-bottom: -2.6vw;
    background-color: var(--primaryGreen);
    box-shadow: 0.52vw 0.52vw 2.083vw rgba(0, 0, 0, 0.2);

    text-align: center;
    color: var(--white);

    z-index: 1;
}

.yearly > .promo {
    font-size: 0.9375vw;
    background-color: var(--white);
    color: var(--primaryGreen);
}

.yearly .fa-li svg {
    color: var(--white);
}

.yearly > .list {
    width: 100%;
    margin: 3.125vw 0px 6.25vw;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list > p {
    font-size: 2.5vw;
    line-height: 0.52vw;
}

.yearly > .list > ul {
    list-style-position: none;
}

.yearly > .list > ul > li {
    margin-bottom: 0.52vw;

    font-size: 1.25vw;
    text-align: justify;
}

/* About Us */
.about-us-text {
    width: 38.28125vw;
}

.about-us-text > h2 {
    font-size: 4.167vw;
    font-weight: 200;
    letter-spacing: var(--minSpacing);
}

.about-us-text > p {
    font-size: 1.25vw;
}

.about-us > .about-us-image > .placeholder-image {
    width: 51.927vw;
}

.about-us-text > .buttons-cta > button {
    width: 16.015vw;
    margin-right: 2.083vw;
}