/* Tablet */
@media only screen and (max-width: 960px) {
    .username-dropdown-label {
        display: none;
    }

    #dashboard__aside > .aside {
        display: none;
    }

    #dashboard__aside .aside-nav {
        margin: 0px 3.33vw;
    }

    .aside > .top-navbar-content {
        display: flex;
    }
}