/* Desktop */
@media only screen and (max-width: 1299px) {
    
}

/* Tablet */
@media only screen and (max-width: 960px) {
    .username-dropdown-label {
        display: none;
    }

    #dashboard__nav header .hamburger {
        visibility: visible;
    }

    #dashboard__nav header .dashboard-header-nav {
        display: none;
    }

    .dashboard .home {
        margin-left: 8.888vw;
    }
}

/* Mobile */
@media only screen and (max-width: 720px) {
    
}