@import url(./../../../../styles/global.css);


/* Navbar */
/* ------------------------------------------------------------- */
#dashboard__nav header {
    width: 100%;
    height: 80px;
    background-color: var(--white);

    align-items: center;
    justify-content: space-between;
}

#dashboard__nav header > a {
    width:  4.16667vw;
    margin: 0.52vw 7.6vw 0.52vw 3.33vw;
}

#dashboard__nav header > a > .logo {
    width:  80px;
    height: 51px;
}

#dashboard__nav .dashboard-header-nav {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#dashboard__nav .fixed {
    background-color: var(--white);
    border-bottom: solid 1px var(--secundaryGray);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    z-index: 5;
    overflow: hidden;
}

#dashboard__nav .balance {
    margin: 0px auto;
    text-align: center;
}

.balance > .balance-description {
    margin-bottom: 0px;

    font-size: 18px;
    text-align: center;
    color: var(--detailsGray);
}

.balance > .balance-value {
    justify-content: space-between;
    align-items: center;
}

.balance > .balance-value > .balance-value-text {
    margin: 0px;
    margin-right: 10px;

    font-size: 24px;
    font-weight: 500;
    letter-spacing: var(--minSpacing);
}

.balance > .balance-value > #balanceVisibilityButton {
    width: 24px;
    cursor: pointer;

    transition: ease all 0.3s;
}

.balance > .balance-value > #balanceVisibilityButton:hover {
    opacity: 0.6;
}

#dashboard__nav .user-options > #user-dropdown {
    margin: 0.52vw 3.33vw 0.52vw 0vw;
}

#dashboard__nav .user-options img {
    width: 50px;
    height: 50px;
}

#dashboard__nav .user-options > .user-dropdown-label, #dashboard__nav .user-options > #user-dropdown {
    background-color: transparent;
    border: none;
    box-shadow: none;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--black);
}

#dashboard__nav .user-options > .user-dropdown-label > p {
    margin: 0px 5px 0px 20px;

    font-size: 20px;
    font-weight: 500;
}

#dashboard__nav .dropdown-menu {
    padding: 0px;
    background-color: transparent !important;
    border: none;
    position: fixed !important;
    margin: 100px 3.33vw;
    box-shadow: 0px 0.26vw 1.04166vw rgba(0, 0, 0, 0.2);

    transform: none !important;
}

.dropdown-menu .dropdown-item {
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 2px var(--white);
    background-color: var(--white);

    font-size: 16px;

    transition: ease all 0.3s;
}

.dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    border-color: var(--secundaryGray);
    color: var(--black);
}

.dropdown-menu .dropdown-item > svg {
    margin-right: 10px;
}

.dropdown-menu .sign-out-dropdown-item {
    /* margin-top: 10px; */
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--red);
    border: solid 2px var(--red);

    color: var(--white);
}

.dropdown-menu .sign-out-dropdown-item:hover {
    background-color: transparent;
    border-color: var(--red);
    color: var(--red);
}

/* Mobile Navbar */
#dashboard__nav header .hamburger, .nav-background {
    visibility: hidden;
}

#dashboard__nav header .hamburger {
    position: absolute;
    right: 3.34vw;
    font-size: 36px;

    cursor: pointer;
}