@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*TODO: change the variables names to be flexible to switch between light and dark theme*/
:root {
    --primaryGreen: #2CE6A3;
    --secundaryGreen: #23B380;
    --detailsGreen: #579C99;
    --red: #F84949;
    --white: #FFF;
    --primaryGray: #F3F3F3;
    --secundaryGray: #E1E1E1;
    --detailsGray: #818181;
    --black: #000;

    --maxSpacing: 0.1em;
    --minSpacing: 0.024em;

    --transition-hover: ease all 0.3s;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    outline: none;
}

body, a {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    text-decoration: none;
}

p {
    text-align: justify;
}

.flex {
    display: flex;
}

input:focus, select:focus {
    border-color: var(--secundaryGray) !important;
    outline: none;
    box-shadow: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
}

.is-invalid, .is-valid {
    background-image: none !important;
}

form {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button, input[type="checkbox"] {
    cursor: pointer;
}

.none {
    display: none;
}

button:disabled {
    background-color: var(--detailsGray) !important;
    border: var(--detailsGray) !important;

    cursor: pointer;
}

button:disabled:hover {
    background-color: rgba(129, 129, 129, 0.6) !important;
}
