@import url(./../../../styles/global.css);

/* Tablet */
@media only screen and (max-width: 1299px) {
    header {
        flex-wrap: wrap;
    }

    header .hamburger {
        visibility: visible;
    }

    header a, header svg {
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav {
        background-color: var(--white);
        box-shadow: 0px 1.0416vw 1.0416vw rgba(0, 0, 0, 0.2);
        
        z-index: 3;

        justify-content: space-between;
        align-items: center;

        visibility: hidden;
    }

    nav a {
        width: 100%;
        border-bottom: solid 2px var(--primaryGray);
        padding: 0.7698vw 0px;

        text-align: center;
    }

    nav .nav-links a:first-child {
        border-top: solid 2px var(--primaryGray);
    }

    nav, .nav-links, .nav-actions {
        width: 100%;
        flex-direction: column;
    }

    .nav-actions > .linkButton {
        width: 18.475vw;
        margin: 1.539vw auto;
        padding: 1.539vw 2.46vw;
        
        font-size: 1.539vw !important;
    }
}

/* Mobile */
@media only screen and (max-width: 960px) {
    header {
        height: 10.4167vw !important;
        padding-top: 2.0834vw;
        padding-bottom: 2.0834vw;
    }
    
    header .hamburger {
        font-size: 32px;
    }

    header > nav {
        margin-top: 4.375vw;
    }

    nav a {
        font-size: 20px !important;
        padding: 1.04167vw 0px;
    }

    nav > .nav-actions > .linkButton {
        width: 200px;
        height: 40px;
        padding: 18px 32px;
        
        font-size: 18px !important;
    }

    header > a > .logo {
        width: 50px;
        height: 32px;
    }
}

@media only screen and (max-width: 720px) {
    header {
        height: 60px !important;
        padding: 10px 0px !important;
    }
    header .hamburger {
        font-size: 28px;
    }

    header > nav {
        margin-top: 0px !important;
    }

    .mobile-navbar {
        top: 60px;
    }

    nav > .nav-actions > .linkButton {
        width: 180px;
        height: 36px;
        padding: 12px 20px !important;
        font-size: 18px !important;
    }
}