@import url(./../../../styles/global.css);

/* Navbar */
/* ------------------------------------------------------------- */
header {
    width: 100%;
    height: 6.25vw;
    background: var(--white);

    align-items: center;
}

nav {
    width: 100%;
    margin-right: 3.33vw;

    align-items: center;
    justify-content: space-between;
}

nav > span > a {
    margin-right: 3.125vw;

    font-size: 24px;
    letter-spacing: var(--maxSpacing);
}

nav > span > a:last-child {
    margin-right: 0px;
}

header > a > .logo {
    width: 5.2vw;
    height: 3.28125vw;
    margin: 0.52vw 6.67vw 0.52vw 3.33vw;
}

nav > .nav-links > a { 
    transition: var(--transition-hover);
}

nav > .nav-links > a:hover { 
    color: var(--primaryGreen);
}

nav > .nav-actions > a { 
    color: var(--primaryGreen);
    transition: var(--transition-hover);
}

nav > .nav-actions > a:hover {
    color:var(--detailsGreen);
}

nav > .nav-actions > .linkButton {
    height: 3.125vw;
    padding: 0.834vw 1.67vw;
    background-color: var(--primaryGreen);
    border: solid 2px var(--primaryGreen);
    border-radius: 50px;

    font-size: 1.25vw;
    color: var(--white);

    transition: var(--transition-hover);
}

nav > .nav-actions > .linkButton:hover {
    background-color: var(--detailsGreen);
    border: solid 2px var(--detailsGreen);
    color: var(--white);
}

.fixed {
    box-shadow: 0px 1.0416vw 2.083vw rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    z-index: 3;
    overflow: hidden;
}

.mobile-navbar {
    position: fixed;
    top: 6vw;
    overflow: hidden;
    z-index: 3;
}

/* Mobile Navbar */
header .hamburger, .nav-background {
    visibility: hidden;
}

header .hamburger {
    position: absolute;
    right: 3.34vw;
    font-size: 36px;

    cursor: pointer;
}

.nav-background {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
    position: fixed;
    z-index: 2;
}