@import url(./../../styles/global.css);

footer {
    margin-top: 6.25vw;
}

.footer-text {
    padding: 3.34vw 3.125vw;
    border-top: solid 2px var(--primaryGray);

    text-align: center;

    flex-direction: column;
    justify-content: center;
    flex-direction: center;
}

.footer-text .logo {
    width: 5.2vw;
    height: 3.28125vw;
}

.footer-text .logo, .footer-links {
    margin-bottom: 3.125vw;
}

.footer-links:last-child {
    margin-bottom: 0px;
}

.footer-text > .footer-links > a {
    margin-right: 3.125vw;
    
    font-size: 1.25vw;
    letter-spacing: var(--minSpacing);
    color: var(--detailsGray);
}

.footer-links > a svg {
    font-size: 2.5vw;
    color: var(--black);
}

.footer-links > a, .footer-links > a svg {
    transition: var(--transition-hover);
}

.footer-links > a:hover, .footer-links > a svg:hover {
    color: var(--primaryGreen);
}

.footer-links > a:last-child {
    margin-right: 0px;
}

footer > .footer-copyright {
    padding: 1.04167vw 0px;
    box-shadow: 0px -0.26vw 1.04167vw rgba(0, 0, 0, 0.1);
}

.footer-copyright p {
    margin: 0px;
    
    font-size: 1.25vw;
    font-weight: 300;
    letter-spacing: var(--maxSpacing);
    text-align: center;
}