@import url(./../../../styles/global.css);

/* Mobile */
@media only screen and (max-width: 520px) {
    .authentication-box .btn-google:after {
        content: 'Google';
    }
    
    .authentication-box .btn-facebook:after {
        content: 'Facebook';
    }

    .authentication-box .btn-google, .authentication-box .btn-facebook {
        justify-content: center;
    }
}