@import url(./../../../styles/global.css);

.authentication-box .btn-facebook {
    margin-bottom: 10px;
    padding: 0px 48px;
    background: #476EC1;
    border: solid 2px #476EC1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authentication-box .btn-facebook:hover {
    color: #476EC1;
    border-color: #476EC1;
}

.authentication-box .btn-google {
    margin-top: 10px;
    padding-left: 48px;
    padding-right: 72px;
    background: var(--red);
    border: solid 2px var(--red);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authentication-box .btn-google:hover {
    color: var(--red);
    border-color: var(--red);
}

.authentication-box .btn-facebook:hover, .authentication-box .btn-google:hover {
    background-color: transparent;
}

.authentication-box .btn-google:after {
    content: 'Entrar com o Google';
}

.authentication-box .btn-facebook:after {
    content: 'Entrar com o Facebook';
}

.authentication-box #stayLoggedInCheckbox {
    width: 18px;
    height: 18px;
    padding: 0px;
    margin: 0px;
    margin-right: 10px;
    border-radius: 5px;

    accent-color: var(--primaryGreen) !important;
}

.authentication-box .form-check {
    height: 40px;
    padding: 0px 5px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.authentication-box #stayLoggedInCheckbox{
    /* TODO: COLOR-ACCENT NÃO FUNCIONA */
}