@import url(./../../../../../styles/global.css);

/* Modal */
/* ------------------------------------------------------------- */
.modal-footer .btn-action:hover {
    border-color: var(--detailsGreen);
    background-color: var(--detailsGreen);
}

.modal-footer .cancel-button {
    width: 240px;
    height: 40px;
    padding: 0px 20px;

    margin-right: 20px;
    border: none;
    border-radius: 50px;
    background-color: var(--detailsGray);
    display: block;
    
    font-size: 20px;
    text-align: center;
    color: var(--white);

    transition: ease all 0.3s;
}

.modal-footer .cancel-button:hover {
    background-color: rgba(129, 129, 129, 0.6) !important;
}

/* Create transition */
.expenses .large-modal .modal-body {
    justify-content: center !important;
}

.modal-body .modal-form {
    width: 100%;
    margin: 0px 0px 20px !important;
}

.modal-body .modal-form .col {
    padding: 0px;
}

.modal-body .modal-form .row, .modal-form select {
    width: 100%;
    margin: 0px;
}

.modal-form .form-label {
    margin-top: 20px;
    margin-bottom: 5px;

    color: var(--detailsGray);
    font-size: 16px;
}

.modal-form .form-label[for="transitionCategories"] {
    margin-top: 0px;
}

.modal-form .form-control, .modal-form select {
    padding: 6px 0px;
    border: none;
    border-bottom: solid 2px var(--secundaryGray);
    border-radius: 0px;

    font-size: 20px;
}

.modal-form .input-error {
    color: var(--red);
}

.modal-form .input-error:focus {
    border-color: var(--red) !important;
}

.modal-form .error-message {
    margin-top: 5px;
}

.modal-form .alert-danger {
    justify-content: center;
    align-items: center;
}

.modal-form .alert-danger > svg {
    margin-right: 40px;

    font-size: 32px;
}

.modal-form .alert-danger > .authentication-error-message {
    margin-bottom: 0px;

    font-size: 20px;
}

